@import "../../vendor/form.css";
@import "../../vendor/table.css";
@import "../../vendor/button.css";

@import "variables";
@import "custom";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.x-container{
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    flex-direction: column;
}
